<% @funds.each do |i| %>
<div class="row">
  <div class="small-12 columns">
    <h2>Name: <%= i.name %></h2>
  </div>
</div>

<div class="row">
  <div class="small-6 large-3 columns">Price: $<%= i.price %></div>
  <div class="small-6 large-3 columns">Morningstar Rating: <%= i.morningstar_rating %></div>
</div>

<div class="row">
  <div class="small-6  large-3 columns">Total Assets: <%= i.total_assets %></div>
  <div class="small-6  large-3 columns">Category: <%= i.category %></div>
  <div class="small-6  large-3 columns">Expense Ratio: <%= i.expense_ratio %></div>
  <div class="small-6  large-3 columns">Five year average return: <%= i.five_yr_return %></div>
</div>

<div class="row">
  <div class="small-6 large-3 columns">Rank in category: <%= i.rank_in_category %></div>
  <div class="small-6 large-3 columns">Percent rank in category: <%= i.percent_rank_in_category %></div>
  <div class="small-6 large-3 columns">Three year beta: <%= i.three_yr_beta %></div>
  <div class="small-6 large-3 columns">Morningstar Risk Rating: <%= i.morningstar_risk_rating %></div>
</div>

<div class="row">
  <div class="small-12 columns">Description: <%= i.description %>
  </div>

  <div class="row">
    <div class="small-12 columns"><a href="/users/<%= current_user.id %>/funds/<%= i.id %>">Details</a></div>
  </div>
  <% end %>